.GetPosts {
  width: 100%;
  /* height: 100vh; */
  background-color: #fff;
  margin: 0;
  margin-bottom: 20px;
  padding: 20px 0;
  box-sizing: border-box;
  text-align: center;
}

/* .GetPosts__banner {
    height: 200px;
    background-color: tomato;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
    color: white;
    background: url("../../../assets/Images/2.png") no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .GetPosts__banner > * {
    margin: 5px 0;
  } */

.GetPosts__LoadMore {
  border: 1px solid #2c2926;
  box-sizing: border-box;
  padding: 10px;
  margin: 0 auto;
  max-width: 250px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.GetPosts__LoadMore p {
  margin: 0;
  color: #2c2926;
  font-weight: 500;
  transition: all 0.2s ease-in;
}

.GetPosts__LoadMore:hover {
  background-color: rgba(255, 99, 71, 0.8);
}

.GetPosts__LoadMore:hover p {
  color: white;
}
