.PNotification {
  background-color: rgb(255, 192, 74);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  overflow: hidden;
  padding: 5px 30px;
  min-height: 35px;
  flex-wrap: nowrap;
  width: 100%;
  color: black;
}

.PNotification__msg {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.PNotification__msg > * {
  margin: 0 !important;
  padding: 0 !important;
}

.PNotification__dismiss {
  justify-self: flex-end;
  align-self: center;
  cursor: pointer;
  margin-left: auto;
  padding-top: 2px;
  font-size: 16px;
}

.PNotification__dismiss:hover {
  color: tomato;
}

@media only screen and (max-width: 600px) {
  .PNotification {
    padding: 5px 18px;
  }

  .PNotification__msg > * {
    font-size: 13px !important;
  }
}
