.PNotification {
  background-color: rgb(255, 192, 74);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  overflow: hidden;
  padding: 3px 30px;
  min-height: 35px;
  flex-wrap: wrap;
  width: 100%;
  color: black;
}

.PNotification > * {
  font-size: 15px;
}

.PNotification__msg {
  display: flex;
  align-items: center;
}

.PNotification__dismiss {
  justify-self: flex-end;
  align-self: center;
  cursor: pointer;
  margin-left: auto;
  padding-top: 2px;
  font-size: 16px;
}

.PNotification__dismiss:hover {
  color: tomato;
}
