.EditPost {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 50px 0 50px;
  flex-wrap: wrap;
}

.EditPost__col1 {
  display: flex;
  flex-direction: column;
  text-align: left;
  flex: 1;
  flex-shrink: 1;
  margin-bottom: 20px;
}

.EditPost__col1--p {
  font-weight: bold;
  color: tomato;
  margin: 0;
}

.EditPost__col1 > div:first-of-type {
  width: 99%;
  margin: 0;
}
.EditPost__col1 input {
  margin-bottom: 15px;
  font-size: 2.5rem;
  font-weight: bold;
  padding-left: 0;
  border: 1.5px solid transparent;
  border-radius: 2px;
  outline-color: rgba(102, 102, 102, 0.315);
  transition: border-color 0.2s ease-in;
}

.EditPost__col1 input:hover {
  border-bottom-color: rgba(102, 102, 102, 0.315);
}

.EditPost__editor {
  min-height: 100px;
  background: url("../../../assets/loaders/loader.gif") no-repeat center;
}

.EditPost__editor > textarea {
  width: 100%;
}

.EditPost__col2 {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  flex-basis: 22%;
  flex-shrink: 2;
}

.EditPost__col2 > * {
  margin-bottom: 10px;
}

.EditPost__actions {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

.EditPost__actions button {
  margin: 0 0 0 8px;
}

.EditPost__excerpt {
  margin-top: 70px;
}

.EditPost__excerpt textarea {
  box-sizing: border-box;
  resize: none;
  padding: 10px;
  height: 155px;
  font-family: inherit;
  font-size: 14px;
}

/* .EditPost__excerpt textarea::-webkit-scrollbar {
    display: none;
} */

.EditPost__tags small {
  font-weight: normal;
  font-size: 11px;
}

.EditPost__isPrivate {
  display: flex;
  align-items: center;
  padding-left: 5px;
  /* margin-top: 8px; */
}

.EditPost__isPrivate > * {
  cursor: pointer;
  font-weight: normal !important;
}

.EditPost__isPrivate > input {
  margin-right: 10px;
  transform: scale(1.3) translateY(1px);
}

.error403 {
  width: 100%;
  text-align: center;
}
