.CreatePost {
  margin: 0 auto;
  padding: 22px;
}

.CreatePost h3 {
  margin-top: 10px;
  font-size: 22px;
}

.CreatePost textarea {
  height: 50px;
  resize: vertical;
  max-height: 150px;
}

.CreatePost .Button {
  margin-top: 25px;
  margin-bottom: 10px;
}

.CreatePost .Button button {
  display: inline-block;
  margin: 0 8px;
}
