.CreatePost {
    margin: 0 auto;
    padding: 20px;
}

.CreatePost h3 {
    margin-top: 10px;
    font-size: 23px;
}

.CreatePost label {
    display: block;
    padding-left: 20px;
    text-align: left !important;
    text-transform: capitalize;
    font-weight: 500;
}

.CreatePost label:nth-of-type(4){
    display: inline;
    text-transform: none;
    padding-right: 15px;
    float: left;
}

.CreatePost label:nth-of-type(4) + div {
   display: inline-block;
   margin-left: -130px;
}

.CreatePost label:nth-of-type(7),
.CreatePost label:nth-of-type(8) {
    display: inline;
    color: red;
    
}

.CreatePost input[type=text] {
    display: block;
   margin: 10px auto;
   width: 300px;
   height: 18px;
   border: none;
   outline: none;
   border: 1px solid grey;
}

.CreatePost input[type=radio] {
    display: inline;
    text-align: left;
    padding: 30px;
}

.CreatePost textarea {
   width: 300px;
   height: 50px;
   padding: 8px;
   margin: 10px auto;
   resize: none;
   border: none;
   border: 1px solid grey;
}

.CreatePost .Button {
    margin-top: 25px;
    margin-bottom: 10px;
}

.CreatePost button {
    display: inline-block;
    margin: 0 8px;
}

