.Notification {
  position: fixed;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: max-content;
  /* max-width: 60%; */
  height: 50px;
  box-sizing: border-box;
  padding: 20px 40px;
  background-color: #fff;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 3px 3px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
  border-top: none;
  transition: all 0.5s ease-in-out;
  z-index: 999;
  /* animation-name: notifAnimation;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; */
}

.Notifi_show {
  top: 0px;
}

.Notification::before {
  content: "";
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.success::before {
  background-color: rgb(5, 182, 5);
}

.error::before {
  background-color: red;
}

.successIcon {
  font-size: 35px;
  color: rgb(5, 182, 5);
}

.errorIcon {
  font-size: 35px;
  color: red;
}

.message {
  padding: 0;
  margin: 0;
  padding-left: 10px;
  font-weight: 500;
}

/* @keyframes notifAnimation {
  0% {
    top: -100px;
  }
  25% {
    top: 0px;
  }
  75% {
    top: 0px;
  }
  100% {
    top: -100px;
  }
} */
