.WritingZone {
  position: relative;
}

.homeEditor {
  background: url("../../assets/loaders/loader.gif") no-repeat center;
  box-sizing: border-box;
  height: 72vh;
  margin-bottom: 20px;
}

/* editor toolbar */
.tox-toolbar__primary {
  background-color: rgb(240, 240, 240) !important;
}
