.WritingZone {
  margin-top: 35px;
}

/* .WritingZone textarea {
  width: 50%;
  height: 300px;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 15px;
  resize: none;
} */

.WritingZone div {
  width: 80vw;
  margin: 0 auto;
  margin-bottom: 15px;
  resize: none;
}

/* toolbar */
.tox-toolbar__primary {
  background-color: rgb(240, 240, 240) !important;
}

.homeEditor {
  min-height: 200px;
  background: url("../../assets/loaders/loader.gif") no-repeat center;
  box-sizing: border-box;
  width: 85vw;
  height: 75vh;
}
