.Header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 2px 40px;
  background-color: #2c2926;
  height: auto;
  flex-wrap: wrap;
  /* overflow: hidden; */
}

.Header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Header nav ul li {
  padding: 0 10px;
  list-style: none;
}

.Header nav ul li a {
  font-weight: 500;
  text-decoration: none;
  color: white;
}

.Header nav ul li a:hover,
.Header nav ul li a.active {
  color: tomato;
}

.Header .mobileNav {
  display: none;
  opacity: 0;
  color: white;
  font-size: 26px;
  margin: 10px 0;
  cursor: pointer;
}

.Header .mobileNav ul {
  margin: 0;
}

.Header .mobileNav ul li {
  padding: 0 10px 0 3px;
}

.Header .mobileNav .icon {
  color: white;
  font-size: 21px;
  transform: translateY(2.5px);
  margin-right: 4px;
  cursor: pointer;
}

.Header .mobileNav .icon:hover {
  color: tomato;
}

.Header .logo > a,
.Header .logo > a:visited,
.Header .logo > a:active,
.Header .logo > a:focus {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.Header .pNotification {
  width: 100%;
}

.pNotification__emailVerifMsg {
  margin: 0;
  font-size: 15px;
}

.pNotification__emailVerifLink {
  font-style: normal;
  text-decoration: underline;
  cursor: pointer;
}

.pNotification__emailVerifLink:hover {
  color: tomato;
}

@media (hover: none), only screen and (max-width: 900px) {
  .Header .navbar {
    display: none;
    opacity: 0;
  }

  .Header .mobileNav {
    display: block;
    opacity: 1;
  }
}

@media only screen and (max-width: 500px) {
  .Header {
    padding: 2px 20px;
  }
}

@media only screen and (max-width: 360px) {
  .Header {
    padding: 2px 10px;
  }
}
