.Header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 2px 40px;
  background-color: #2c2926;
  height: auto;
flex-wrap: wrap;
}

.Header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Header nav ul li {
  padding: 0 10px;
  list-style: none;
}

.Header nav ul li a {
  font-weight: 500;
  text-decoration: none;
  color: white;
}

.Header nav ul li a:hover,
.Header nav ul li a.active {
  color: tomato;
}

.Header .logo > a,
.Header .logo > a:visited,
.Header .logo > a:active,
.Header .logo > a:focus {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.Header .pNotification{
  width: 100%;
}
