.Modal {
  z-index: 1001;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 400px;
  max-width: 100vw;
  height: auto;
  text-align: center !important;
  margin: 0 auto;
}

.Modal .Modal__closeIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.Modal .Modal__closeIcon:hover {
  color: tomato;
}
