.Modal {
    z-index: 1001;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 400px;
    height: auto;
    text-align: center !important;
    margin: 0 auto;
}