.AccountsLayout {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 100px;
  flex-wrap: wrap;
}

.AccountsLayout__header {
  flex-basis: 100%;
}

.AccountsLayout__col1 {
  flex: 0 0 200px;
  position: sticky;
  top: 0px;
  height: fit-content;
}

.AccountsLayout__col2 {
  flex: 2 1 auto;
  border: 1px solid rgb(224, 224, 224);
  margin-left: 3px;
  padding: 50px;
}

.AccountsLayout__col1 ul {
  list-style: none;
  padding: 0;
}

.AccountsLayout__col1 ul li {
  color: #2c2926;
  border-radius: 500px;
  font-weight: 500;
  overflow: hidden;
}

.AccountsLayout__col1 ul li a,
.AccountsLayout__col1 ul li a:visited,
.AccountsLayout__col1 ul li a:active {
  text-decoration: none;
  display: block;
  width: 100%;
  color: inherit;
  padding: 5px 0 5px 15px;
  margin: 1px 0;
  transition: all 0.2s ease-in-out;
}

.AccountsLayout__col1 ul li a:hover {
  background-color: rgb(253, 232, 232);
}

.activeNav {
  background-color: rgb(253, 232, 232);
  color: tomato !important;
}

.disabledNav {
  display: block;
  width: 100%;
  color: #2c292673;
  cursor: not-allowed;
  padding: 5px 0 5px 15px;
  margin: 1px 0;
  transition: all 0.2s ease-in-out;
}
