.AccountLayout {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 100px;
  flex-wrap: wrap;
}

.AccountLayout__header {
  flex-basis: 100%;
  padding-left: 5px;
}

.AccountLayout__col1 {
  flex: 0 0 200px;
  position: sticky;
  top: 0px;
  height: fit-content;
}

.AccountLayout__col2 {
  flex: 2 1 auto;
  border: 1px solid rgb(224, 224, 224);
  display: flex;
  justify-content: center;
  margin-left: 3px;
  padding: 50px;
  position: relative;
  /* padding-left: 80px; */
}

.AccountLayout__col2 h3 {
  margin: 0px;
  font-size: 16px;
  font-weight: 400;
  color: tomato;
  position: absolute;
  top: 10px;
  left: 12px;
  display: none;
  opacity: 0;
}

@media screen and (max-width: 1000px) {
  .AccountLayout {
    padding: 10px 50px;
  }
}

@media screen and (max-width: 850px) {
  .AccountLayout {
    padding: 10px 30px;
  }
}

@media screen and (max-width: 800px) {
  .AccountLayout {
    padding: 8px 10px;
  }

  .AccountLayout__col1 {
    flex: 0 0 160px;
  }

  .AccountLayout__col2 {
    padding: 30px;
  }

  .AccountLayout__header {
    margin-top: 10px;
  }
}

@media screen and (max-width: 780px) {
  .AccountLayout__header {
    font-size: 26px;
    margin: 10px 0 15px 0;
  }

  .AccountLayout__col1 {
    flex-basis: 100%;
    position: inherit;
  }

  .AccountLayout__col2 {
    margin-left: 0px;
  }

  .AccountLayout__col2 h3 {
    opacity: 1;
    display: block;
  }
}

@media screen and (max-width: 450px) {
  .AccountLayout__col2 {
    display: block;
  }
}

@media screen and (max-width: 350px) {
  .AccountLayout {
    padding: 0;
    margin: 0;
  }

  .AccountLayout__col2 {
    border: none;
    padding: 30px 8px;
  }

  .AccountLayout__col2 h3 {
    font-size: 14px;
  }
}
