.GetSinglePost {
    background-color: #fff;
    text-align: left;
    max-width: 650px;
    padding: 50px 0;
    margin: 0 auto;
}

.GetSinglePost h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.GetSinglePost > div:nth-of-type(1){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    color: rgb(47, 47, 47);
}

.GetSinglePost small:first-of-type {
    margin-left: 5px;
}

.GetSinglePost svg:hover {
    color: tomato;
    cursor: pointer;
}

.GetSinglePost__stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.GetSinglePost__likes {
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.GetSinglePost__likes > p {
    margin: 0;
    margin-left: 10px;
    margin-top: -4px;
}

.GetSinglePost__views > p {
    margin: 0;
    color: grey;
    font-style: italic;
    margin-top: -8px;
}
