/* .Signup {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  background-color: #fff;
  display: inline-block;
  padding: 40px;
  padding-bottom: 45px;
  border-radius: 4px;
  margin-top: 3%;
  opacity: 0.9;
  height: auto;
}

.Signup h2 {
  margin: 0;
  margin-bottom: 2rem;
}

.Signup button {
  margin-top: 40px;
} */

.Signup .message {
  display: inline-block;
  width: 290px;
  color: #2c2926;
  padding: 15px;
  margin: 0;
  text-align: left;
}

.Signup .message:empty {
  padding: 0;
  border: none;
  display: none;
}

.Signup .error {
  background-color: rgba(255, 28, 28, 0.575);
}

.Signup .success {
  background-color: #17a7048e;
}
