.Signup {
    background-color: #fff;
    display: inline-block;
    padding: 40px;
    padding-bottom: 45px;
    border-radius: 4px;
    margin-top: 3%;
    opacity: .9;
    height: auto;
    width: 400px;
}

.Signup h2 {
    margin: 0;
    margin-bottom: 2rem;
}

.Signup button {
    margin-top: 40px;
}

.Signup .Error {
    display: inline-block;
    width: 290px;
    background-color: rgba(255, 28, 28, 0.575);
    color: #2C2926;
    padding: 15px;
    margin: 0;
    text-align: left;
}

.Signup .Error:empty {
    padding: 0;
    border: none;
    display: none;
}