.InputComponent {
  display: block;
  margin: 0 auto;
  width: 300px;
  padding: 8px;
  position: relative;
}

.InputComponent label {
  display: block;
  padding-left: 2px;
  text-align: left !important;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 14px;
  color: rgb(44, 41, 38);
}

.InputComponent input,
.InputComponent textarea {
  display: block;
  width: stretch;
  width: -webkit-fill-available;
  width: -moz-available;
  margin-top: 4px;
  padding: 8px;
  font-size: 14px;
  border: 1px solid rgb(44, 41, 38);
  border-radius: 2px;
  box-sizing: border-box;
}

.InputComponent input:focus,
.InputComponent textarea:focus {
  box-shadow: tomato 0px 0px 5px 1px;
  outline: 0.5px solid rgba(104, 101, 99, 0.5);
}

.InputComponent textarea {
  resize: none;
  min-height: 60px;
  font-family: inherit;
}

.InputComponent .error {
  border: 1.4px solid red;
  outline-color: red;
  border-radius: 2px;
}

.InputComponent .errorMsg {
  color: red;
  display: block;
  text-align: left;
  font-size: 10px;
  padding-left: 2px;
  position: absolute;
}

.InputComponent .required {
  color: red;
}

.InputComponent .RadioBtn {
  text-align: left;
}

.InputComponent .RadioBtn * {
  color: inherit;
  display: inline;
  width: fit-content;
  font-weight: 500;
  font-size: 14px;
}

.InputComponent .RadioBtn .required {
  color: red;
}

.InputComponent .RadioBtn > * {
  padding-right: 8px;
}
