.SvgStyle__main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* align-items: center; */
}

.SvgStyle__main svg {
  width: 280px;
  height: 300px;
}

.SvgStyle__main .messageBox {
  padding: 50px 0 0 60px;
}

.SvgStyle__main .messageBox h2 {
  font-size: 1.7rem;
  color: red;
  font-weight: 400;
}

.SvgStyle__main .messageBox ul {
  color: rgba(44, 41, 38, 0.7);
}

.SvgStyle__main .messageBox__action {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.SvgStyle__main .messageBox__action a {
  text-decoration: none;
  color: rgb(88, 0, 170);
  padding: 1px 0;
}

.SvgStyle__main .messageBox__action a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 850px) {
  .SvgStyle__main svg {
    width: 250px;
    height: 280px;
  }

  .SvgStyle__main .messageBox {
    padding: 50px 0 0 40px;
  }

  .SvgStyle__main .messageBox h2 {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 750px) {
  .SvgStyle__main {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .SvgStyle__main svg {
    width: 220px;
  }

  .SvgStyle__main .messageBox {
    padding: 0 0 0 60px;
    margin-top: -60px;
  }

  .SvgStyle__main .messageBox ul {
    padding-left: 20px;
  }

  .SvgStyle__main .messageBox h2 {
    font-size: 1.4rem;
  }

  .SvgStyle__main .messageBox__action a {
    font-size: 14px;
  }
}

@media only screen and (max-width: 500px) {
  .SvgStyle__main svg {
    width: 180px;
    height: 220px;
  }

  .SvgStyle__main .messageBox {
    padding: 0 20px 0 50px;
    margin-top: -40px;
  }

  .SvgStyle__main .messageBox ul {
    padding-left: 20px;
  }

  .SvgStyle__main .messageBox ul li {
    font-size: 14px;
  }

  .SvgStyle__main .messageBox h2 {
    font-size: 1.2rem;
  }

  .SvgStyle__main .messageBox__action a {
    font-size: 14px;
  }
}
