.ResetPassword__header small {
  color: tomato;
  line-height: 1px;
  display: block;
  margin: 10px 0;
}

.ResetPassword__header input {
  color: rgb(182, 182, 182);
  font-weight: bold;
  border: none;
  outline: none;
  text-align: center;
  width: 100%;
}

.ResetPassword__navigation a,
.ResetPassword__navigation a:visited {
  display: block;
  text-decoration: none;
  color: tomato;
  margin: 8px 0;
  font-size: 14px;
}

.ResetPassword__navigation a:hover {
  text-decoration: underline;
}
