.GetPost {
  border: 1px solid white;
  background-color: #fff;
  box-sizing: border-box;
  padding: 30px 20px 20px;
  margin: 20px auto;
  max-width: 650px;
  text-align: left;
  transition: border 0.5s;
  position: relative;
}

.GetPost:hover {
  /* animation-name: borderAnimation;
    animation-duration: 4s; */
  border: 1px solid rgb(228, 228, 228);
}

/* @keyframes borderAnimation {
    from {border: 1px solid white;}
    to {border: 1px solid rgb(204, 62, 62);}
  } */

.GetPost__head {
  display: flex;
  justify-content: space-between;
}

.GetPost__head small {
  margin-left: 5px;
}

.GetPost__head small a,
.GetPost__head small a:visited,
.GetPost__head small a:active {
  text-decoration: none;
  color: inherit;
}

.GetPost__head small a:hover {
  color: tomato;
}

.GetPost__head svg {
  font-size: 22px;
}

.GetPost__head svg:hover {
  color: tomato;
}

.GetPost__head > section:last-of-type {
  color: rgb(94, 94, 94);
  display: flex;
  align-items: center;
  position: absolute;
  top: 18px;
  right: 18px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.GetPost:hover .GetPost__head > section:last-of-type {
  visibility: visible;
  opacity: 1;
}

.GetPost__head > section:last-of-type > * {
  margin: 0;
  margin-left: 10px;
  cursor: pointer;
}

.GetPost__main h2 {
  margin: 0;
  cursor: pointer;
  display: inline-block;
  transition: all 0.2s ease-in-out;
  /* font-weight: normal; */
  font-size: 28px;
}

.GetPost__main p {
  margin: 0;
  color: grey;
}

.GetPost__main--read {
  display: inline-block;
  background-color: tomato;
  font-size: 14px;
  padding: 8px 10px;
  margin: 15px 0 10px;
  outline: none;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.GetPost__main--read:hover {
  background-color: rgb(255, 54, 19);
}

.GetPost__main--readLight {
  background-color: #fff !important;
  border-radius: none !important;
  color: tomato !important;
  padding-left: 0 !important;
  margin: 5px 0 !important;
}

.GetPost__main--readLight:hover {
  background-color: none !important;
  color: rgb(255, 54, 19) !important;
}

.GetPost__info {
  display: flex;
  justify-content: space-between;
}

.GetPost__info small {
  color: grey;
}

.GetPost__info--share,
.GetPost__info--edit,
.GetPost__info--delete {
  cursor: pointer;
}

.GetPost__info--share:hover {
  color: blueviolet;
}

.GetPost__info--edit:hover {
  color: saddlebrown;
}

.GetPost__info--delete:hover {
  color: red;
}
