.Home {
  position: relative;
  padding: 0px 80px;
  padding-top: 120px;
  box-sizing: border-box;
  height: 95vh;
  overflow: hidden;

  /* background: url("../../assets/home.svg"); */
  /* background-repeat: no-repeat;
  background-position-y: center;
  background-size: cover; */
}

.Home .headline {
  font-family: "Patua One", cursive;
  font-size: 70px;
  font-weight: 500;
  letter-spacing: -2px;
  padding-right: 30px;
  margin: 0;
  /* color: #2c2926; */
}

.Home .typewriter {
  width: 360px;
  max-width: 100vw;
  height: 170px;
  font-size: 23px;
  margin: 0;
  padding: 5px 0 0 5px;
  box-sizing: border-box;
  font-family: monospace;
}

.red {
  color: red;
}

.homeImages {
  position: absolute;
  right: 320px;
  top: 120px;
  min-width: 100px;
  min-height: 100px;
}

.homeImages img:first-of-type {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 8px;
  border: 2px solid rgba(59, 59, 59, 0.746);
  box-shadow: -4px 5px 10px 5px rgba(85, 84, 84, 0.568);
  /* height: 500px;
  width: auto; */
}

.homeImages img:nth-of-type(2) {
  position: absolute;
  top: 100px;
  left: -150px;
  z-index: 0;
  border-radius: 8px;
  border: 1.5px solid rgb(59, 59, 59);
  filter: drop-shadow(200);
  /* box-shadow: -1px 5px 8px 5px rgba(85, 84, 84, 0.568); */
}

.cta a,
.cta a:visited {
  text-decoration: none;
  background-color: #fff;
  color: red;
  border: 2px solid red;
  border-radius: 1000px;
  outline: none;
  padding: 16px 20px;
  font-family: "Patua One", cursive;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in;
  letter-spacing: 0.3px;
}

.cta a:hover {
  background-color: rgba(160, 0, 0, 0.1);
}

.cta a:active {
  background-color: red;
  color: white;
}

@media only screen and (max-width: 1150px) {
  .homeImages {
    right: 250px;
    top: 150px;
  }
}

@media only screen and (max-width: 1050px) {
  .homeImages {
    right: 300px;
    top: 250px;
  }

  .homeImages img:first-of-type {
    box-shadow: -2px 5px 12px 1px rgba(85, 84, 84, 0.568);
  }

  .homeImages img:nth-of-type(2) {
    display: none;
  }
}

@media only screen and (max-width: 850px) {
  .Home {
    padding: 0px 40px;
    padding-top: 100px;
  }
}

@media only screen and (max-width: 780px) {
  .Home {
    padding: 0px 40px;
    padding-top: 100px;
  }

  .Home .headline {
    font-size: 60px;
  }

  .Home .typewriter {
    font-size: 22px;
  }

  .cta a,
  .cta a:visited {
    padding: 16px 18px;
    font-size: 18px;
  }

  .homeImages img:first-of-type {
    box-shadow: none;
  }
}

@media only screen and (max-width: 700px) {
  .homeImages {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .Home {
    padding: 0px 20px;
    padding-top: 110px;
  }

  .Home .headline {
    font-size: 50px;
  }

  .Home .typewriter {
    font-size: 20px;
    height: 160px;
    width: 300px;
  }

  .cta a,
  .cta a:visited {
    padding: 14px 16px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 420px) {
  .Home {
    padding-top: 110px;
  }

  .Home .headline {
    line-height: 60px;
  }

  .Home .typewriter {
    height: 250px;
  }
}

@media only screen and (max-width: 360px) {
  .Home .headline {
    font-size: 45px;
    letter-spacing: -1px;
  }

  .cta a,
  .cta a:visited {
    padding: 12px 14px;
    font-size: 15px;
  }
}
