.Home {
  padding: 0px 80px;
  padding-top: 120px;
  box-sizing: border-box;
  /* height: calc(100vh - 59px); */
  /* background: url("../../assets/home.svg"); */
  /* background-repeat: no-repeat;
  background-position-y: center;
  background-size: cover; */
}

.Home .headline {
  font-family: "Patua One", cursive;
  font-size: 70px;
  font-weight: 500;
  letter-spacing: -2px;
  padding-right: 30px;
  margin: 0;
  /* color: #2c2926; */
}

.Home .typewriter {
  width: 360px;
  max-width: 100vw;
  height: 170px;
  font-size: 23px;
  margin: 0;
  padding: 5px 0 0 5px;
  box-sizing: border-box;
  font-family: monospace;
}

.red {
  color: red;
}

.cta a,
.cta a:visited {
  text-decoration: none;
  background-color: #fff;
  color: red;
  border: 2px solid red;
  border-radius: 3px;
  outline: none;
  padding: 18px 20px;
  font-family: "Patua One", cursive;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in;
  letter-spacing: 0.3px;
}

.cta a:hover {
  background-color: rgba(160, 0, 0, 0.1);
}

.cta a:active {
  background-color: red;
  color: white;
}

@media only screen and (max-width: 850px) {
  .Home {
    padding: 0px 40px;
    padding-top: 100px;
  }
}

@media only screen and (max-width: 780px) {
  .Home {
    padding: 0px 40px;
    padding-top: 100px;
  }

  .Home .headline {
    font-size: 60px;
  }

  .Home .typewriter {
    font-size: 22px;
  }

  .cta a,
  .cta a:visited {
    padding: 16px 18px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 500px) {
  .Home {
    padding: 0px 20px;
    padding-top: 110px;
  }

  .Home .headline {
    font-size: 50px;
  }

  .Home .typewriter {
    font-size: 20px;
    height: 160px;
    width: 300px;
  }

  .cta a,
  .cta a:visited {
    padding: 14px 16px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 360px) {
  .Home {
    padding-top: 80px;
  }

  .Home .headline {
    font-size: 45px;
    letter-spacing: -1px;
  }

  .Home .typewriter {
    font-size: 20px;
    height: 150px;
    width: 260px;
  }

  .cta a,
  .cta a:visited {
    padding: 12px 14px;
    font-size: 15px;
  }
}
