.Login {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    background-color: #fff;
    display: inline-block;
    padding: 40px;
    padding-bottom: 45px;
    border-radius: 4px;
    margin-top: 5%;
    opacity: .9;
    height: auto;
}

.Login h2 {
    margin: 0;
    margin-bottom: 2rem;
}

.Login button {
    margin-top: 20px;
}

.Error {
    display: inline-block;
    width: 290px;
    background-color: rgba(255, 28, 28, 0.575);
    color: #2C2926;
    padding: 15px;
    margin: 0;
    text-align: left;
}

.Error:empty {
    padding: 0;
    border: none;
    display: none;
}