.Login__inputDiv {
  display: flex;
  flex-direction: column;
}

.Login__inputDiv > div {
  padding: 3px;
}

.Login__inputDiv small {
  align-self: flex-end;
  padding-right: 8px;
}

.Login__inputDiv small a,
.Login__inputDiv small a:active,
.Login__inputDiv small a:focus {
  color: inherit;
  text-decoration: none;
}

.Login__inputDiv small a:hover {
  text-decoration: underline;
  color: tomato;
}
