.SavedItems {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    margin: 0;
    margin-bottom: 20px;
    padding: 20px 0;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
  }

.SavedItems__banner {
    height: 200px;
    background-color: tomato;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
    color: white;
    background: url("../../../assets/Images/10.jpg") no-repeat;
    background-size: cover;
    background-position:bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.SavedItems__banner > * {
    margin: 5px 0;
}