.Account {
  /* width: 50%; */
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Account > div {
  margin: 0;
  display: flex;
  align-items: flex-end;
}

.Account input {
  box-shadow: none !important;
}

.Account > div small {
  align-self: center;
  margin: 20px 5px 0px 5px;
  color: tomato;
  cursor: pointer;
  font-size: 14px;
}

.Account > div small:hover {
  text-decoration: underline;
}

.Account__username {
  display: flex;
  flex-direction: column;
  /* position: relative; */
}

.Account__username > div:first-of-type {
  display: flex;
  align-items: flex-end;
}

.Account__username > div:nth-of-type(2) {
  width: 100%;
  padding-left: 10px !important;
  align-self: flex-start;
  /* position: absolute;
  bottom: -10px; */
  transform: translateY(-10px);
}

.Account > div button {
  margin-bottom: 10px;
}

.Account a,
.Account a:visited,
.Account a:active {
  color: tomato;
  text-decoration: none;
  font-size: 13px;
}

.Account a:hover {
  text-decoration: underline;
}
