.PersonalInfo {
  width: 50%;
}

.PersonalInfo > div {
  margin: 0;
}

.PersonalInfo > div:not(:first-of-type) {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.PersonalInfo > div button {
  margin-bottom: 10px;
}

.PersonalInfo small {
  color: tomato;
}