.PersonalInfo {
  display: flex;
  flex-direction: column;
  /* padding-left: 80px; */
  max-width: 400px;
  overflow: hidden;
  box-sizing: content-box;
}
.PersonalInfo label {
  color: rgba(44, 41, 38, 0.7);
}

.PersonalInfo input {
  width: 100%;
}

.PersonalInfo__dp {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.PersonalInfo > form > div {
  width: 100%;
  box-sizing: border-box;
}

.PersonalInfo__inputRow {
  display: flex;
}

.PersonalInfo__inputRow > div {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}

.PersonalInfo__btn button {
  margin-top: 30px;
  width: 97%;
}

@media screen and (max-width: 450px) {
  .PersonalInfo__inputRow {
    display: inline;
  }
}

@media screen and (max-width: 350px) {
  .PersonalInfo__inputRow {
    display: inline;
  }
}
